<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DJANGO_SETTINGS_MODULE" value="MaxPilot.settings"/>
    <add key="PYTHONPATH" value="C:\Users\DELL\Documents\GitHub\onBoarder-BE"/>
    <add key="WSGI_HANDLER" value="MaxPilot.wsgi.application"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\DELL\Documents\GitHub\onBoarder-BE\venv\Scripts\python.exe|C:\Users\DELL\Documents\GitHub\onBoarder-BE\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
       
    </handlers>
  </system.webServer>
</configuration>
